<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CashD Log In</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <link rel="icon" href="/../../web-files/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/web-stylesheets/login.style.css">
    <link rel="stylesheet" type="text/css" href="/../../web-files/assets/icon/feather/css/feather.css">
</head>

<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
        </p>
    <![endif]-->
    <section>
        <div class="row p-0 m-0">
            <div class="col-0 col-sm-6 p-0 d-none d-lg-block">
                <div class="content-image">
                    <img src="/web-images/tempsnip.png" alt="" srcset="">
                    <div class="hs-eu">
                        <div class="hs-eu-cookie">
                            <div class="hs-eu-policy">
                                <p>
                                    We use cookies to ensure you get the best experience on our
                                    website, including collecting statistics to improve functionality
                                    and to deliver specific content to you. Find out more by reading
                                    our
                                    <u><a href="https://cashd.co/terms" target="_blank" rel="noopener">privacy policy.</a></u>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 100vh;" class="col-12 col-lg-6 col-sm-12 p-0 position-relative">
                <form class="form-login" action="<%= isLoginCashD ? '/login' : '/console/login'%>" method="POST">
                    <input type="hidden" name="time_offset" id="time_offset">
                    <script>
                      document.getElementById('time_offset').value = Math.abs(new Date().getTimezoneOffset()) * 60 * 1000;
                    </script>
                    <h1 class="text-center mt-5 mb-5">Log In</h1>
                    <% if (errorMessage) { %>
                        <div class="instLogin_forbidMsg"><%= errorMessage %><br> Please try again.</div>
                    <% } %>
                    <div class="login-email">
                        <!-- <a href="#" class="pull-right">Not verified?</a> -->
                        <label class="input-label" for="email">Username or Email</label>
                        <div class="input-container">
                            <span class="login-ctl">
                                <input id="email" tabindex="1" value="" type="email" class="input-input" name="email"
                                    maxlength="255">
                            </span>
                            <div class="input-icon"><i class="feather icon-user"></i></div>
                        </div>
                    </div>
                    <div class="login-password">
                        <!-- <a href="#" class="pull-right">Forgot Password?</a> -->
                        <label class="input-label" for="password">Password</label>
                        <div class="input-container">
                            <span class="login-ctl">
                                <input id="password" tabindex="1" value="" type="password" class="input-input"
                                    name="password" maxlength="255">
                            </span>
                            <div class="input-icon"><i class="feather icon-lock"></i></div>
                        </div>
                    </div>
                    <div class="control-group mt-5">
                        <div class="controls">
                            <span class="controls-span">
                                <input type="submit" name="btnLoginSubmit" id="btnLoginSubmit"
                                    value="Log in" class="button"
                                    tabindex="4"
                                    >
                            </span>
                        </div>
                    </div>
                </form>
                <div class="text-center login-footer padding">
                    <div class="dropdown">
                        <p>If your work already uses Cashd you can find out how to join them <a href="http://cashd.co">here</a></p>
                        <p>Not using Cashd? <a class="btn btn-simple ml5" href="/console/register">Start your free trial</a></p>
                    </div>	
                </div>
            </div>
        </div>
    </section>
    <script src="" async defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>